body{
    margin: 0px;
    padding: 0px;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: hsl(0, 0%, 100%);
    width: 400px;
    height: 600px;
    border-radius: 5%;
}
.first{
    color: hsl(218, 44%, 22%);
    text-align: center;
    padding: 0px 20px;
    font-weight: 800;
    font-size: 25px;
    margin-bottom: 0px;
}
.second{
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    font-weight: 500;
}
.qr{
    padding: 20px;
    border-radius: 11%;
    margin: 0px;
}
